@{
 Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">学期管理</h1>
        </div>
        <!-- /.col-lg-12 -->

    </div>
    <!--添加新学期-->
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-1 col-md-1">
                <label style="margin-top:6px">新学期</label>
            </div>

            <div class="form-group col-lg-5 col-md-5">
                <label for="dtp_input2" class="col-lg-2 col-md-2 control-label" style="margin-top:6px">开始</label>
                <div class="input-group date form_date " data-date="" data-date-format="dd mm yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" id="start-time" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input2" value="" /><br />
            </div>
            <div class="form-group col-lg-5 col-md-5">
                <label for="dtp_input2" class="col-lg-2 col-md-2 control-label" style="margin-top:6px">结束</label>
                <div class="input-group date form_date " data-date="" data-date-format="dd mm yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" id="end-time" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input2" value="" /><br />
            </div>

            <div class="col-lg-1 col-md-1">
                <button id="add-semester-submit" class="btn btn-adn"><i class="fa fa-check"></i> </button>
            </div>
        </div>
    </div>
    <!--/#添加新学期-->
    <div class="row">
        <div id="datepicker" class="calendar clo-lg-9"></div>
        <div class="col-lg-3">
            <h3>2017学年</h3>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function () {
            $("#add-semester-submit").click(function () {
                var startTime = $("#start-time").val();
                var endTime = $("#end-time").val();
                var data = {
                    "startTime": startTime,
                    "endTime": endTime
                }
                $.post("/JiaoWu/AddSemester", data, function (data) {
                    alert(data);
                })
            })
        })
    </script>


</body>