@{
    Layout = "~/Views/Shared/_studentIndex.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<body>
    <div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">个人课表</h1>
        </div>
    </div>
        <table class="table">
            <tr style="align-content:center">
                <td style="width:25%">课程名称</td>
                <td style="width:25%">授课教师</td> 
                <td style="width:25%">学分</td>  
                <td style="width:25%"></td>            
            </tr>
            @{               if (ViewData["max"] != null)
                {
                    int num = (int)ViewData["max"];
                    for (int i = 1; i <= num; i++)
                    {
                        var courseName = ViewData["coursename" + i];
                        var courseTeacher = ViewData["teacher" + i];
                        var courseCredit = ViewData["xuefen" + i];
                        var courseId = ViewData["courseid" + i];
                        if (courseName != null)
                        {
                            <tr style="align-content:center">
                                <td style="width:20%">@courseName.ToString()</td>
                                <td style="width:20%">@courseTeacher.ToString()</td>
                                <td style="width:20%">@courseCredit.ToString()</td>
                                <td style="width:20%"><a href="@Url.Action("ucourseinfo", new { id = courseId })">进入课程</a></td>
                            </tr>
                            }
                        }
                    }

                }
        </table>
    </div>
</body>

