
@{
    ViewBag.Title = "Register";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="~/Content/landing.css">
    <link rel="stylesheet" type="text/css" href="~/Content/reset.css">
</head>
<body>
    <div class="logo">
        <a href="#"></a>
    </div>
    <div class="mian">
        <div class="left-bj"></div>
        <div class="right-x">
            <!--标题-->
            <div class="top">
                <span>用户注册</span>
            </div>
            <form action="Login" method="post">
                @{
                    var error = ViewData["ErrorMessage"];
                    if (error != null)
                    {

                        <div style="color:red; text-align:center">@error.ToString() </div>
                    }
                }
                <!--用户名-->
                <div class="user">
                    <span></span>
                    <input type="text" name="userName" required placeholder="学号/工号">
                </div>
                <!--密码-->
                <div class="password">
                    <span></span>
                    <input type="password" name="password" required placeholder="密码">
                </div>

                <!--登陆对象-->
                <div class="log">
                    <div class="anniu">
                        <input type="radio" name="userType" checked  value="student" class="radio"><label for="c" class="radio">学生登录</label>
                    </div>
                    <div class="anniu">
                        <input type="radio" name="userType"  value="teacher" class="radio"><label for="c" class="radio">教师登录</label>
                    </div>
                    <div class="anniu">
                        <input type="radio" name="userType" value="jiaowu" class="radio"><label for="c" class="radio">教务登录</label>
                    </div>
                </div>
                <!--登陆-->
                <div class="login">
                    <button type="submit">登&nbsp;&nbsp; 录</button>
                </div>
            </form>
            <!--忘记密码-->
            <div class="Forget">
                <a href="#">忘记密码</a>
            </div>
        </div>
    </div>
</body>
</html>

